<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jackpal.androidterm.app">

    <application
        android:name="jackpal.androidterm.App"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_terminal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme">
        
    </application>
</manifest>
